  body{
    background-color: #152029;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #152029;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background: linear-gradient(280deg, rgba(36,198,220,1) 0%, rgba(81,74,157,1) 100%);
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  .header {
    color: #fff;
  }
  
  .header-logo {
    float: left;
    font-size: 50px;
    padding: 20px 40px;
  }
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  
  

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header-creator{
  padding: 10px 16px;
  background: linear-gradient(280deg, rgba(36,198,220,1) 0%, rgba(81,74,157,1) 100%);
  font-size: 40;
  color: white;
}


/* responsive */

@media only screen and (min-width: 1200px) {

  .main {
    background-color: #152029;
    height: 650px;
    background-image: url('images/nongcat.png');
    background-attachment: fixed; 
    background-size: 60% ;
    background-repeat: no-repeat;
    background-position: center top ;
  }
}

/*sidebar*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #152029;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: gray;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background: linear-gradient(280deg, rgba(36,198,220,1) 0%, rgba(81,74,157,1) 100%);
  box-shadow: -1px -1px 38px 1px  rgba(0, 247, 255, 0.2);
  color: #fff;
}

.sidenav a:hover:first-child {
  background: none;
  box-shadow: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.sidenav h1{
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.sidenav h2{
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.sidenav h3{
  text-indent: 2.5em;
  text-align: justify;
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 10px 200px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*button*/
.btn {
  background: -webkit-linear-gradient(right,#24C6DC,#514A9D); 
  border: none;
  color: white;
  padding: 16px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 247, 255, 0.2), 0 6px 20px 0 rgba(23, 228, 255, 0.19);
  position: absolute;
  top: 83%;
  left: 45%;
  border-radius: 4px;
}
.btn:hover {
  background: #fff;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 5s;
}

.stage {
  border-bottom: 3px solid #444;
  display: flex;
  height: 330px;
  width: 100%;
}
.box {
  /* align-self: flex-end; */
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* background-color: #F44336; */
  /* height: 200px; */
  /* margin: 0 auto 0 auto; */
  /* transform-origin: bottom; */
  /* width: 200px; */
}

.bounce-7 {
  animation-name: bounce-7;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-50px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

div.cat-link>img{
  vertical-align: middle;
}